{{#each this}}
<li class="userAccount__favorite-list-item" data-fav-id={{this._id}}>
   {{#if images}}
  <img class="userAccount__img" src="{{images}}" alt="" />
  {{else}}
<img class="userAccount__img" src="https://www.makersmakingchange.com/wp-content/uploads/2019/08/Default-no-image-02-500x350.jpg" alt="" />
  {{/if}}
  <div class="userAccount__info">
    <h3 class="userAccount__title">{{title}}</h3>
    <p class="userAccount__desctiption">{{description}}</p>
  </div>
  <span class="userAccount__price">Стоимость: {{price}} грн. </span>
  <button class="userAccount__delete-button">Удалить</button>
</li>
{{/each}}