{{!-- <section class="user__acc-section user__section-fav">
  {{#each favourite}}

  <h2 class="user__section-fav-title">{{title}}</h2>
  <img src="#" alt="desctiption of the image" />
  <p class="user__section-fav-description">
    {{fav_description}}
  </p>
  <span class="user__section-fav-price">{{price}}</span>
  <p class="user__section-fav-remove">delete</p>
  {{/each}}
</section>

<section class="user__acc-section user__section-adds">
  {{#each advertisment}}
  <h2 class="user__section-adds-title">{{title}}</h2>
  <img src="#" alt="desctiption of the image" />
  <p class="user__section-adds-description">
    {{add_description}}
  </p>
  <span class="user__section-adds-price">{{price}}</span>
  <p class="user__section-adds-remove">delete</p>
  {{/each}}
</section> --}}



